body {
    background-color: #2e4055;
    color: white;
    padding: 10px;
    margin: 0;
}

section {
    background-color: #1B263B;
    color: #E0E1DD;
    padding: 10px;
    margin: 20px 10px;
    border-radius: 10px;

}

article {
    width: 95%;
    padding: 10px;
    margin: 10px;
    margin-left: auto;
    background-color: #0D1B2A;
    color: #778DA9;
    border: 5px solid #778da9;
    border-radius: 5px;
}

mark {
    color: #E0E1DD;
    background-color: #415A77;
}

hr {
    width: 95%;
    margin: 10px;
    margin-left: auto;
    border-width: 1px 15px;
    border-color: #778da9;
}

div img {
    vertical-align: middle;
    margin: 5px;
}
